<!doctype html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Title -->
    <title>Atif Anwar</title>
    <!-- Favicon Icon -->
    <link rel="icon" href="/images/Favicon.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/grapesjs/0.20.4/css/grapes.min.css" integrity="sha512-seN5KomQl3Zrj3YjTf9EdRyqu98Hujb/qtT7VsvYbRTjUMkzcwFbbqScZ1JmZets1Dcif61GFfI22Kwq70hRpg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <script src="/assets/js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/grapesjs-blocks-basic@1.0.1/dist/index.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/grapesjs-blocks-avance@0.0.32/dist/grapesjs-blocks-avance.min.js"></script> -->
    <!-- <script src="/node_modules/grapesjs-blocks-basic/dist/index.js"></script>
    <script src="/assets/js/grapesjs-blocks-avance.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/grapesjs/0.20.4/grapes.min.js" integrity="sha512-jorRPvf4Uv/mm7pNP8tE9hthngolR6x9QzN4SIdNN29nljmt5nkJ03FCs+TJ8BgvqAa0cDoyi1rMV0r41bhfxA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="/assets/js/common.js"></script>
</head>

<body>
    <div id="content">
        
    </div>