<%- include('../layouts/logged_header') %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="error-box">
            <div class="content">
              <img src="/assets/images/error-img.png" />
            </div>
          </div>
    </div>
</div>
<%- include('../layouts/logged_footer') %>